:root {
  --title-color: #2e2f42;
  --text-color: #434455;
  --button-text-collor: #4d5ae5;
  --button-bacground-collor: #f4f4fd;
  --main-text: Roboto;
  --Logo-text: Raleway;
  --hover-color: #404bbf;
  --main-bacground-color: #ffffff;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--main-bacground-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* Header */
.header-container {
  display: flex;
  align-items: center;
}
.header {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* Header LOGO */
.studioword {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.logo-link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

  margin-right: 76px;
}
/* Navigation */

.nav-list {
  display: flex;
  padding: 0;
  margin: 0;
}
.nav {
  display: flex;
  align-items: center;
}
.nav-list .link {
  list-style: none;
  font-family: var(--main-text);
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
  text-decoration: none;

  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.nav-list .item:not(:last-child) {
  margin-right: 40px;
}
.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--hover-color);
}

/* Addresses */
.address {
  margin-left: 332px;
}
.contacts-list {
  display: flex;
  margin: 0;
  padding: 0;
}
.contacts-list .item:not(:last-child) {
  margin-right: 40px;
}
.address {
  font-style: normal;
}
.contact-link {
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--hover-color);
}
/* Hero section */
.hero {
  background: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img-background/people-office1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  margin: 0;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin-bottom: 48px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}
.button {
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;

  display: block;
  min-width: 169px;
  padding: 16px 32px;
  margin: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-left: auto;
  margin-right: auto;
}
.button:hover,
.button:focus {
  background: var(--hover-color);
}
/* Features */
.futures {
  padding-top: 120px;
  padding-bottom: 120px;
}
.features-list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
  display: flex;
}
.features-item {
  width: 264px;
}
.features-icon-container {
  background: #f4f4fd;
  border-radius: 4px;
  height: 112px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features-item:not(:last-child) {
  margin-right: 24px;
}
.subject-features {
  font-weight: 800;
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-top: 0px;
  margin-bottom: 8px;
}
.text-features {
  font-weight: 800;
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-top: 0px;
  margin-bottom: 0px;
}
/* What are we doing */
.whatwedo-section {
  padding-bottom: 120px;
}
.business-list {
  padding: 0;
  display: flex;
  margin: 0;
}
.title {
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
.business-list .item:not(:last-child) {
  margin-right: 24px;
}

/* Team section */
.team-section {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-list {
  margin: 0px;
  display: flex;
  padding: 0;
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 0;
  margin-top: 8px;
}
.socials-item {
  width: 40px;
  height: 40px;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
}
.socials-link:hover {
  background-color: #404bbf;
}
.socials-link:focus {
  background-color: #404bbf;
}
.social-icon {
  fill: #f4f4fd;
}

.team-member {
  background: var(--main-bacground-color);
  width: 264px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-list .team-member:not(:last-child) {
  margin-right: 24px;
}
.name-text {
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-top: 0px;
  margin-bottom: 8px;
}
.position-text {
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin: 0px;
}
.card-content {
  padding: 32px 0;
}
/* Customers */
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-list {
  margin: 0;
  display: flex;
  padding: 0;
  gap: 24px;
}
.customers-container .title {
  line-height: 1.1;
}
.customers-item {
  width: 168px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
}

.customer-icon {
  fill: currentColor;
}
.customers-link:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-color: #404bbf;
  color: #404bbf;
}
.customers-link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-color: #404bbf;
  color: #404bbf;
}
.customers-item:focus .customer-icon {
  fill: var(--hover-color);
}
.customers-item:hover .customer-icon {
  fill: var(--hover-color);
}
/* Footer */
.footer {
  background: var(--title-color);
  height: 312px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-socials {
  display: flex;
  gap: 16px;
}
.footer-social-icon {
  fill: #f4f4fd;
}
.footer-part1 {
  margin-right: 120px;
}
.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-social-link:hover {
  background-color: #31d0aa;
}
.footer-social-link:focus {
  background-color: #31d0aa;
}
.footer-social-item {
  width: 40px;
  height: 40px;
}
.footer-social-text {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-logo-link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

  margin-bottom: 16px;
  display: inline-block;
}
.footer-second-logoword {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text {
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 264px;
}

/* Portfolio page */
/* Header is the same as at the main page */
/* Filters section */
/* buttons menu */
.filers-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.button-list {
  display: flex;
  padding-left: 0;
  justify-content: center;
  margin-bottom: 72px;
  margin-top: 0;
}
.button-list .item:not(:last-child) {
  margin-right: 24px;
}
.filter-button {
  background: var(--button-bacground-collor);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--button-text-collor);
  cursor: pointer;

  border: 1px solid #e7e9fc;
  border-radius: 4px;

  padding: 12px 24px;
}

.filter-button:hover,
.filter-button:focus {
  background: #404bbf;
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Portfolio-links-section */
.portfolio-list .link {
  text-decoration: none;
  list-style: none;
  display: block;
}
.portfolio-list {
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
}
.portfolio-card {
  width: 360px;
  margin-right: 24px;
  margin-bottom: 48px;
}
.portfolio-card:nth-child(3n) {
  margin-right: 0;
}
.portfolio-card:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.portfolio-card :hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-card :focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.main-text {
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-color);
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 8px;
}
.type {
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin: 0;
}
/* Portfolio Footer */
